{{user}}  
<h2>User</h2>
<div id="header">
    <div>
        <img src="college.png" alt="college image" width="90px" height="90px">
        <h1>ERP For College Management System</h1>
    </div>
<!--navbars below-->
    <div>
        
    <ul>
        <li class="nav-deco"><a class="active" href="#profile">My Profile</a></li>
        <li class="nav-deco"><a href="#view-books">View Books</a></li>
        <li class="nav-deco"><a href="#timetable">View TimeTable</a></li> 
        <li class="nav-deco"><a href="#assignment">View Assignment</a></li>
        <li class="nav-deco"><a href="#results">View Results</a></li>
        <li class="nav-deco"><a href="#attendence">View Attendence</a></li>
    </ul>

    <div class="logout">
        <li class="nav-deco"><a href="#" (click)="logout()">Logout</a></li>
    </div>

    </div>